<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

        <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About us</h2>
            <p>I am Mikel Modeiro Tegue a Computer Engineering student from the Faculty of Engineering and technology under the University of Buea</p>
            <p>Passionate about Web Development and Web Penetration Testing, and still developing some skills in Javascript with server side tools
                such as NodeJs, Express along with view engines such as Ejs
            </p>
    </div>
</body>
</html>